.err {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1;
  margin-top: 2rem;
}

.err__num {
  color: red;
  font-size: 4rem;
  margin-bottom: 1.5rem;
  font-weight: lighter;
}

.err__text {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.err__link {
  font-weight: bold;
  font-size: 1.25rem;
  color: var(--color-main);
  transition: all 250ms ease;
}

.err__link:hover {
  color: var(--color-main-lighter);
}
