.dashboard {
  margin-bottom: 2rem;
  width: 40rem;
}

.dashboard__item {
  background-color: var(--color-second-more-lighter);
}

.dashboard__item:not(:last-of-type) {
  margin-bottom: 1rem;
}

.dashboard__questions {
  max-height: calc(
    100vh - var(--size-main-block-margin-top)
      - 2rem - 1rem - 3.75rem - 0.5rem
  );
  overflow-y: scroll;
}

.dashboard__header {
  height: 2.5rem;
  margin: 0 0 1rem 0;
}

.dashboard-header {
  display: flex;
  position: relative;
}

.dashboard-header:after {
  content: '';
  position: absolute;
  border: 1px solid var(--color-main-lighter);
  width: 100%;
  bottom: 0;
}

.dashboard-header__item {
  font-size: 1.5rem;
  font-weight: lighter;
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 250ms ease;
}

.dashboard-header__item:hover {
  color: var(--color-main-lighter);
}

.dashboard-header__item--active,
.dashboard-header__item--active:hover {
  color: var(--color-main);
}

/*item*/

.dashboard__btn {
  margin-top: auto;
}

.dash-item__heading{
  font-weight: bold;
  font-size: 1.13rem;
  margin-bottom: 1rem;
}

.question__dashboard-text {
  max-width: 23.75rem;
  display: flex;
}

.dash-question__dotes{
  flex: 0 0 0.9rem;
}

.dash-question__answer{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dash-item__header {
  font-weight: lighter;
  color: var(--color-main);
}

.dash-item__body {
  display: flex;
}

.dash-item__avatar-container {
  flex: 0 0 11rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid var(--color-second-lighter);
  margin-right: 2rem;
  padding-right: 1rem;
}

.dash-item__avatar {
  width: 6rem;
  height: 6rem;
}

.dash-item__content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
}

.dash-item__question-text {
  margin-bottom: 1rem;
}
